.t1{
    border: solid;
}
.tr{
    background-color: gray;
    color: black;
    font-size: 20px;
}
.c1{
    margin: auto;
    width: 50%;
    margin-top: 50px;
}
.div1{
    background-color:rgb(208, 234, 243)
}