.nav{
    background-color:black!important;
    color: white!important;
    position: static!important;
   
}
.navlink{
    color: blanchedalmond;
    padding: 5px;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}